/node_modules
/.next
/out
/dist
/build
/.env
/.env.local
/.env.development
/.env.production
/.env.test
/.DS_Store
/coverage
/.vscode
/.idea
/.eslintcache
/.prettiercache
/.turbo
/.yarn
/yarn.lock
/.pnp.*
/.yarnrc.yml